arcologout/
autostart/
chromium/
conky/
dconf/
fontconfig/
galculator/
gconf/
gtk-2.0/
gtk-3.0/
htop/
libfm/
mimeapps.list
nano/
neofetch/
nitrogen/
nomacs/
pamac/
pavucontrol.ini
pcmanfm/
pulse/
qt5ct/
ristretto/
spotify/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety/
volumeicon/
yad.conf
